@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(20, 50%, 98%);
  font-family: "Red Hat Text", "serif";
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.itemsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  margin-top: 25px;
}

.leftSide {
  width: 900px;
}

.desserts {
  margin-left: 15px;
}

.itemPic {
  width: 270px;
  border-radius: 10px;
}

.itemPicBorder {
  width: 270px;
  border-radius: 10px;
  border: 2px solid hsl(14, 86%, 42%);
}

.addCartButton {
  position: absolute;
  width: 170px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(12, 20%, 44%);
  top: 90%;
  cursor: pointer;
  gap: 10px;
}

.addCartButton:hover {
  color: hsl(14, 86%, 42%);
  border: 1px solid hsl(14, 86%, 42%);
}

.imagePlusCart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodInfo {
  position: relative;
  margin-top: 30px;
  left: 15px;
  line-height: 25px;
}

.title {
  opacity: 0.5;
}

.foodName {
  font-weight: bold;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
}

.rightSide {
  width: 400px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  margin-top: 65px;
  display: table;
}

.cartTitle {
  text-indent: 20px;
  margin-top: 20px;
  color: hsl(14, 86%, 42%);
}

.emptyCake {
  width: 40%;
  margin: 0 auto 0 auto;
  display: block;
}

.emptyDescription {
  text-align: center;
  margin-top: 20px;
}

.itemName {
  text-indent: 20px;
  margin-top: 20px;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}

.itemInfo {
  text-indent: 20px;
  color: hsl(14, 86%, 42%);
  font-weight: bold;
  line-height: 30px;
}

.itemPrice {
  margin-left: 20px;
  color: hsl(7, 20%, 60%);
  font-weight: normal;
}

.totalPriceInfo {
  margin-left: 10px;
  color: hsl(7, 20%, 60%);
}

.cartItem {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 90%;
  margin: 1em auto;
  height: 1px;
  color: hsl(13, 31%, 94%);
  background-color: hsl(13, 31%, 94%);
  border: none;
}

.confirmOrder {
  width: 90%;
  height: 55px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: hsl(14, 86%, 42%);
  margin: 25px auto;
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
}

.confirmOrder:hover {
  background-color: hsl(14, 85%, 32%);
}

.disclaimer {
  width: 90%;
  height: 60px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 20px auto;
}

.disclaimer img {
  margin-right: 5px;
}

.carbon-neutral {
  font-weight: bold;
  margin: 0 5px 0 5px;
  color: hsl(14, 65%, 9%);
}

.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5% 0 5%;
}

.totalPrice {
  font-weight: bold;
  font-size: 25px;
}

.cartItem {
  display: flex;
  align-items: center;
}

.removeItem {
  margin-right: 30px;
  border-radius: 50%;
  padding: 3px;
  background: none;
  border: 2px solid hsl(7, 20%, 60%);
  display: flex;
  cursor: pointer;
}

.removeItem img {
  width: 12px;
  height: 12px;
}

.removeItem:hover {
  border: 2px solid hsl(14, 65%, 9%);
  content: url("/product-list-with-cart-main/assets/images/removeButton.svg");
}
